body{
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.edit{
    position: relative;
    min-height: 100vh;
    height: fit-content;
    background-color: white;
    justify-self: center;
    display: grid;
    grid-template-rows: 8% 92%;
    align-items: center;  
}

.edit .closeEdit {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    justify-self: flex-end;
    font-size: 20px;
    font-weight: 900;
    height: 45px;
    color: white;
    align-self: flex-start !important;
}

.edit .forms {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    align-self: flex-start;
}

.edit .forms button{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 17px;
    font-weight: 700;
    width: 75%
}

@media only screen and (max-width: 500px) {
    .edit .forms {
        grid-template-columns: 45% 45% !important;
        justify-items: flex-start !important;
    }  

    .edit .forms button{
        font-size: 15px !important;
        font-weight: 700;
        width: 75%
    }

    .edit .closeEdit {
        font-size: 18px;
        align-self: flex-start
    }
}

