.edit{
    position: relative;
    min-height: 100vh;
    height: fit-content;
    background-color: white;
    display: grid;
    grid-template-rows: 8% 92%;
    align-items: center;  
}

.edit .closeEdit {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    justify-self: flex-end;
    font-size: 20px;
    font-weight: 900;
    height: 45px;
    color: white;
    align-self: flex-start !important;
}

.edit .forms {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50px;
    align-self: flex-start;
}

.edit .forms button{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 17px;
    font-weight: 700;
    width: 75%
}

@media only screen and (max-width: 500px) {
    .edit .forms {
        display: flex !important;
        justify-items: flex-start !important;
        gap: 10px;
    }  

    .edit .forms button{
        font-size: 13px !important;
        font-weight: 700;
        width: fit-content
    }

    .edit .closeEdit {
        font-size: 14px;
        align-self: flex-start
    }
}

