.memberships {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    margin-top: 2rem;
    background-color: rgba(120, 120, 120, 0.1);
}

.memberships p {
    font-size: 16px;
    font-weight: 700;
    font-style: oblique;
    color: rgba(0,212,255,1);
}

.memberships input {
    border-radius: 2%;
    border-color: black;
    background-color: inherit;
    border-width: 2px;
    font-size: 14px;
    font-weight: 700;
    color: black;
    height: 30px;
    align-self: center;
}