.users {
    display: block;
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.users .fetchsites .sitecard,
.users .fetchvcards .vcardscard {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    gap: 1%;
}

.users .sites .sitecard div,
.users .vcards .vcardscard div{
    display: grid;
}

.users .sites h2,
.users .vcards h2{
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    text-decoration: underline;
}

.users .sites .sitecard p,
.users .vcards .vcardscard p{
    font-size: 18px;
    font-weight: 700;
    justify-self: center;
}

.users .sites .sitecard button,
.users .vcards .vcardscard button{
    width: 50%;
    background-color: white;
    border-radius: 15px;
    border-width: 3px;
    border-color: black;
    color: black;
    font-size: 16px;
    font-weight: 700;
    justify-self: center;
}