.users {
    display: block;
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.users .fetchsites .sitecard,
.users .fetchvcards .vcardscard {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    gap: 1%;
    align-items: center;
}

.users .sites .sitecard div,
.users .vcards .vcardscard div{
    display: grid;
}

.users .sites h2,
.users .vcards h2{
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    text-decoration: underline;
}

.users .sites .sitecard p,
.users .vcards .vcardscard p{
    font-size: 18px;
    font-weight: 700;
    justify-self: center;
}

.users .sites .sitecard button,
.users .vcards .vcardscard button{
    width: 50%;
    background-color: white;
    border-radius: 15px;
    border-width: 3px;
    border-color: black;
    color: black;
    font-size: 16px;
    font-weight: 700;
    justify-self: center;
}